<div class="container">
  <div class="ask">
    <h2>Stupid coaching</h2>
  </div>

  <form action="/questions/answer" method="get" class="form">
    <input type="text" name="question" placeholder="Tape your question" class="input">
    <input type="submit" class = "btn">
  </form>
</div>
